{% extends 'main.html' %}

{% block article %}
	<h5>Publication Date: {{ article.article_date }}</h5>
	<h1>{{ article.article_title }}</h1>
	<p>{{ article.article_text }}</p>
	<p>Likes: {{ article.article_likes }}</p>	
	<hr>
	<div class="large-offset-1 large-8 columns">
	<p>Comments</p>
		{% for comment in comments %}
			<p>{{ comment.comments_text }}</p>
		{% endfor %}

		{% if username %}
			<form action="/articles/addcomment/{{ article.id }}/" method="post">
				{% csrf_token %}
				{{ form }}
				<input type="submit" class="button" value="Add comment">
				</form>
		{% endif %}

	</div>
{% endblock %}